@import '~carbon-components/scss/globals/scss/css--reset';
@import '~@carbon/type/scss/font-face/mono';
@import '~@carbon/type/scss/font-face/sans';
@import '~@carbon/grid/scss/grid';
@import '~@carbon/themes/scss/themes';
@import './percy';
@include carbon--font-face-mono();
@include carbon--font-face-sans();
@include carbon--type-reset();

@import '@carbon/ibmdotcom-styles/scss/components/scroll-into-view/_scroll-into-view.scss';

// content-block-copy styles reset if using list markdown. Overriding with dds-item-paragraph styles here.
bx-list-item {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #161616;
  margin-bottom: 1.5rem;
}

// There seems to be a bug where the height of the button group is being set as 0px
dds-button-group-item {
  height: auto !important; /* stylelint-disable-line declaration-no-important */
}

// TODO move to white page
dds-content-block-simple {
  padding-bottom: 0;
}

// scroll animation delays
/* stylelint-disable max-nesting-depth */
dds-logo-grid-item,
dds-card-group-item,
dds-cta-section-item {
  &:nth-of-type(3n) {
    --dds--fade-in-out-delay: 0;
  }
  &:nth-of-type(3n + 1) {
    --dds--fade-in-out-delay: 250ms;
  }
  &:nth-of-type(3n + 2) {
    --dds--fade-in-out-delay: 500ms;
  }
  &:nth-of-type(3n + 3) {
    --dds--fade-in-out-delay: 750ms;
  }
}

dds-content-group-cards-item {
  &:nth-of-type(2n + 1) {
    --dds--fade-in-out-delay: 0;
  }
  &:nth-of-type(2n + 2) {
    --dds--fade-in-out-delay: 250ms;
  }
}
/* stylelint-enable max-nesting-depth */

.ddstest-divider {
  margin: 50px 0;
}

.bx--g10-container {
  @include carbon--theme($carbon--theme--g10, true);

  background-color: $ui-background;
  padding-left: 1rem;
}

// TODO: Delete when change is reflected in WC Package
dds-card-cta {
  max-width: 320px;
}
