@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes' as *;
@use './percy';
@use '@carbon/ibmdotcom-styles/scss/components/scroll-into-view/_scroll-into-view.scss';
// Requires for the test page using the standalone <c4d-cloud-masthead-container>.
@use '@carbon/ibmdotcom-styles/scss/components/dotcom-shell/dotcom-shell';

// @include type-reset();

// content-block-copy styles reset if using list markdown. Overriding with c4d-item-paragraph styles here.
cds-list-item {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #161616;
  margin-bottom: 1.5rem;
}

// There seems to be a bug where the height of the button group is being set as 0px
c4d-button-group-item {
  height: auto !important; /* stylelint-disable-line declaration-no-important */
}

// TODO move to white page
c4d-content-block-simple {
  padding-bottom: 0;
}

// scroll animation delays
/* stylelint-disable max-nesting-depth */
c4d-logo-grid-item,
c4d-card-group-item,
c4d-cta-section-item {
  &:nth-of-type(3n) {
    --c4d--fade-in-out-delay: 0;
  }
  &:nth-of-type(3n + 1) {
    --c4d--fade-in-out-delay: 250ms;
  }
  &:nth-of-type(3n + 2) {
    --c4d--fade-in-out-delay: 500ms;
  }
  &:nth-of-type(3n + 3) {
    --c4d--fade-in-out-delay: 750ms;
  }
}

c4d-content-group-cards-item {
  &:nth-of-type(2n + 1) {
    --c4d--fade-in-out-delay: 0;
  }
  &:nth-of-type(2n + 2) {
    --c4d--fade-in-out-delay: 250ms;
  }
}
/* stylelint-enable max-nesting-depth */

.c4dtest-divider {
  margin: 50px 0;
}

.cds--g10-container {
  @include theme($g10, true);

  background-color: $background;
  padding-left: 1rem;
}

// TODO: Delete when change is reflected in WC Package
c4d-card-cta {
  max-width: 320px;
}
