@import '~carbon-components/scss/globals/scss/css--reset';
@import '~@carbon/type/scss/font-face/mono';
@import '~@carbon/type/scss/font-face/sans';
@import '~@carbon/grid/scss/grid';
@import '~@carbon/themes/scss/themes';
@import '../scss/percy';
@include carbon--font-face-mono();
@include carbon--font-face-sans();
@include carbon--type-reset();

body,
.g100-page dds-leadspace {
  @include carbon--theme($carbon--theme--g100, true);
}

body {
  background-color: $ui-background;
  color: $text-01;
  height: 100%;
}
