@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes' as *;
@use './percy';
@include type-reset();

body,
.g100-page dds-leadspace {
  @include theme($g100, true);
}

dds-table-of-contents {
  display: block;
}

dds-card-link-cta {
  display: flex;
}

body {
  background-color: $background;
  color: $text-primary;
  height: 100%;
}
