@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes' as *;
@use './percy';

// @include type-reset();

body,
.g100-page c4d-leadspace {
  @include theme($g100, true);
}

c4d-table-of-contents {
  display: block;
}

c4d-card-link-cta {
  display: flex;
}

body {
  background-color: $background;
  color: $text-primary;
  height: 100%;
}
