{{#> base }}

  <div class="page-container">
    <h2>Button Group</h2>
    <br/>

    <c4d-button-group>
      <c4d-button-group-item href="https://example.com">
        Lorem ipsum
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
      </c4d-button-group-item>
      <c4d-button-group-item href="https://example.com">
        Dolor sit amet
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
      </c4d-button-group-item>
    </c4d-button-group>

    <c4d-hr></c4d-hr>

    <h2>Card Group</h2>
    <br/>

    <c4d-card-group>
      <c4d-card-group-item href="https://example.com">
        <c4d-card-heading>Nunc convallis lobortis</c4d-card-heading>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ultricies est. Mauris iaculis eget dolor nec hendrerit.
          Phasellus at elit sollicitudin, sodales nulla quis, consequat libero.
        </p>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com">
        <c4d-card-heading>Nunc convallis lobortis</c4d-card-heading>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ultricies est. Mauris iaculis eget dolor nec hendrerit.
          Phasellus at elit sollicitudin, sodales nulla quis, consequat libero.
        </p>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com">
        <c4d-card-heading>Nunc convallis lobortis</c4d-card-heading>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ultricies est. Mauris iaculis eget dolor nec hendrerit.
          Phasellus at elit sollicitudin, sodales nulla quis, consequat libero.
        </p>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com">
        <c4d-card-heading>Nunc convallis lobortis</c4d-card-heading>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ultricies est. Mauris iaculis eget dolor nec hendrerit.
          Phasellus at elit sollicitudin, sodales nulla quis, consequat libero.
        </p>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com" color-scheme="inverse">
        <c4d-card-heading>Nunc convallis lobortis</c4d-card-heading>
        <c4d-card-footer slot="footer" color-scheme="inverse">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
    </c4d-card-group>

    <c4d-hr></c4d-hr>

    <h2>Card Group with Images</h2>
    <br/>

    <c4d-card-group>
      <c4d-card-group-item href="https://example.com">
        <c4d-image slot="image" alt="Image alt text" default-src="https://dummyimage.com/1056x792/ee5396/161616&amp;text=4:3">
        </c4d-image>
        <c4d-card-eyebrow>Topic</c4d-card-eyebrow>
        <c4d-card-heading>Natural Language Processing.</c4d-card-heading>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com">
        <c4d-image slot="image" alt="Image alt text" default-src="https://dummyimage.com/1056x792/ee5396/161616&amp;text=4:3">
        </c4d-image>
        <c4d-card-eyebrow>Topic</c4d-card-eyebrow>
        <c4d-card-heading>Natural Language Processing.</c4d-card-heading>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com">
        <c4d-image slot="image" alt="Image alt text" default-src="https://dummyimage.com/1056x792/ee5396/161616&amp;text=4:3">
        </c4d-image>
        <c4d-card-eyebrow>Topic</c4d-card-eyebrow>
        <c4d-card-heading>Natural Language Processing.</c4d-card-heading>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com">
        <c4d-image slot="image" alt="Image alt text" default-src="https://dummyimage.com/1056x792/ee5396/161616&amp;text=4:3">
        </c4d-image>
        <c4d-card-eyebrow>Topic</c4d-card-eyebrow>
        <c4d-card-heading>Natural Language Processing.</c4d-card-heading>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
      <c4d-card-group-item href="https://example.com">
        <c4d-image slot="image" alt="Image alt text" default-src="https://dummyimage.com/1056x792/ee5396/161616&amp;text=4:3">
        </c4d-image>
        <c4d-card-eyebrow>Topic</c4d-card-eyebrow>
        <c4d-card-heading>Natural Language Processing.</c4d-card-heading>
        <c4d-card-footer slot="footer">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-card-footer>
      </c4d-card-group-item>
    </c4d-card-group>

    <c4d-hr></c4d-hr>

    <h2>Card Link</h2>
    <br/>

    <div class="cds--grid cds--grid--condensed" style="width: 100%">
      <div class="cds--row">
        <div class="cds--col-sm-4 cds--col-md-4 cds--col-lg-3">

          <c4d-card-link href="https://example.com">
            <p>Explore AI use cases in all industries</p>
            <c4d-card-footer slot="footer">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card-link>

        </div>
      </div>
    </div>

    <c4d-hr></c4d-hr>

    <h2>Card</h2>
    <br/>

    <div class="cds--grid" style="width: 100%">
      <div class="cds--row">
        <div class="cds--col-sm-4 cds--col-md-3 cds--no-gutter">

          <c4d-card color-scheme="" href="https://example.com">

            <c4d-card-eyebrow>Topic</c4d-card-eyebrow>
            <c4d-card-heading>Natural Language Processing.</c4d-card-heading>

            <c4d-card-footer slot="footer">
              Card cta text
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>

        </div>
      </div>
    </div>

    <c4d-hr></c4d-hr>

    <h2>Feature Card</h2>
    <br/>

    <div class="cds--grid" style="width: 100%">
      <div class="cds--row">
        <div class="cds--col-sm-4 cds--col-lg-8" style="padding-top: 20px">

          <c4d-feature-card href='https://example.com'>
            <c4d-image slot='image' alt='Alt text' default-src='https://dummyimage.com/672x672/ee5396/161616&amp;amp;text=1x1'></c4d-image>
            <c4d-card-heading>How is artificial intelligence used today in your industry?</c4d-card-heading>

            <c4d-feature-card-footer>
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-feature-card-footer>
          </c4d-feature-card>

        </div>
      </div>
    </div>

    <c4d-hr></c4d-hr>

    <h2>Feature Card Block Large</h2>
    <br/>

    <div class="cds--grid" style="width: 100%">
      <div class="cds--row">
        <div class="cds--col-sm-4 cds--col-lg-9">

          <c4d-feature-card href="https://example.com" color-scheme="">
            <c4d-image slot="image" alt="Image alt text"
                       default-src="https://dummyimage.com/672x672/ee5396/161616&amp;text=1:1">
              <c4d-image-item media="(min-width: 1312px)" srcset="https://dummyimage.com/672x672/ee5396/161616&amp;text=1:1">
              </c4d-image-item>
              <c4d-image-item media="(min-width: 1056px)" srcset="https://dummyimage.com/600x300/ee5396/161616&amp;text=2:1">
              </c4d-image-item>
              <c4d-image-item media="(min-width: 991px)" srcset="https://dummyimage.com/600x600/ee5396/161616&amp;text=1:1">
              </c4d-image-item>
              <c4d-image-item media="(min-width: 672px)" srcset="https://dummyimage.com/400x200/ee5396/161616&amp;text=2:1">
              </c4d-image-item>
              <c4d-image-item media="(min-width: 320px)" srcset="https://dummyimage.com/320x160/ee5396/161616&amp;text=2:1">
              </c4d-image-item>
            </c4d-image>
            <c4d-card-eyebrow>This is an eyebrow</c4d-card-eyebrow>
            <c4d-card-heading>Explore AI use cases in all industries</c4d-card-heading>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
            <c4d-feature-card-footer>
              <svg slot='icon' focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                  aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="footer">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-feature-card-footer>
          </c4d-feature-card>

        </div>
      </div>
    </div>

    <c4d-hr></c4d-hr>

    <h2>Lightbox Media Viewer (Video) / Text CTA</h2>
    <br/>

    <c4d-video-cta-container>
      <c4d-text-cta cta-type="video" href="1_9h94wo6b"></c4d-text-cta>
    </c4d-video-cta-container>

    <c4d-hr></c4d-hr>

    <h2>Link List</h2>
    <br/>

    <c4d-link-list type="default">
      <c4d-link-list-heading>Tutorial</c4d-link-list-heading>
      <c4d-link-list-item-card href="https://example.com">
        <p>Learn more</p>
        <svg
            slot="footer"
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            aria-hidden="true"
            width="20"
            height="20"
            viewBox="0 0 20 20">
          <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
        </svg>
      </c4d-link-list-item-card>
      <c4d-link-list-item-card href="https://example.com">
        <p>Containerization A Complete Guide</p>
        <svg
            slot="footer"
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            aria-hidden="true"
            width="20"
            height="20"
            viewBox="0 0 20 20">
          <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
        </svg>
      </c4d-link-list-item-card>
    </c4d-link-list>

    <c4d-hr></c4d-hr>

    <h2>Quote</h2>
    <br/>

    <c4d-quote inverse='true' mark-type="doubleCurved">
      This is the main quote
      <c4d-quote-source-heading>This is the first line of source</c4d-quote-source-heading>
      <c4d-quote-source-copy>This is the second line of source</c4d-quote-source-copy>
      <c4d-quote-source-bottom-copy>This is the third line of source</c4d-quote-source-bottom-copy>
      <c4d-link-with-icon slot="footer" href="https://example.com">
        Link with Icon
        <svg
            slot="icon"
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            width="20"
            height="20"
            viewBox="0 0 20 20"
        >
          <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
        </svg>
      </c4d-link-with-icon>
    </c4d-quote>

    <br/><br/><br/>
  </div>

{{/ base }}
