{{#> base }}
  <div class="page-container">
    <dds-card-section-simple>
      <dds-content-section-heading>Page Examples</dds-content-section-heading>
      <dds-card-group>
        <dds-card-group-item href="example-page-a/index.html">
          <dds-card-heading>Example page A</dds-card-heading>
          <dds-card-cta-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-cta-footer>
        </dds-card-group-item>
        <dds-card-group-item href="example-page-b/index.html">
          <dds-card-heading>Example page B</dds-card-heading>
          <dds-card-cta-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-cta-footer>
        </dds-card-group-item>
        <dds-card-group-item href="example-page-c/index.html">
          <dds-card-heading>Example page C</dds-card-heading>
          <dds-card-cta-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-cta-footer>
        </dds-card-group-item>
        <dds-card-group-item href="white-theme-page/index.html">
          <dds-card-heading>White theme example page</dds-card-heading>
          <dds-card-cta-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-cta-footer>
        </dds-card-group-item>
        <dds-card-group-item href="g100-theme-page/index.html">
          <dds-card-heading>Gray 100 theme example page</dds-card-heading>
          <dds-card-cta-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-cta-footer>
        </dds-card-group-item>  
        <dds-card-group-item href="cloud/index.html">
          <dds-card-heading>Cloud</dds-card-heading>
          <dds-card-cta-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-cta-footer>
        </dds-card-group-item>        
      </dds-card-group>
    </dds-card-section-simple>
  </div>
{{/ base }}
