{{#> base }}
  <div class="page-container">
    <c4d-card-section-simple>
      <c4d-content-section-heading>Page Examples</c4d-content-section-heading>
      <c4d-card-group>
        <c4d-card-group-item cta-type="local" href="example-page-a/index.html">
          <c4d-card-heading>Example page A</c4d-card-heading>
          <c4d-card-footer slot="footer">
          </c4d-card-footer>
        </c4d-card-group-item>
        <c4d-card-group-item cta-type="local" href="example-page-b/index.html">
          <c4d-card-heading>Example page B</c4d-card-heading>
          <c4d-card-footer slot="footer">
          </c4d-card-footer>
        </c4d-card-group-item>
        <c4d-card-group-item cta-type="local" href="example-page-c/index.html">
          <c4d-card-heading>Example page C</c4d-card-heading>
          <c4d-card-footer slot="footer">
          </c4d-card-footer>
        </c4d-card-group-item>
        <c4d-card-group-item cta-type="local" href="white-theme-page/index.html">
          <c4d-card-heading>White theme example page</c4d-card-heading>
          <c4d-card-footer slot="footer">
          </c4d-card-footer>
        </c4d-card-group-item>
        <c4d-card-group-item cta-type="local" href="g100-theme-page/index.html">
          <c4d-card-heading>Gray 100 theme example page</c4d-card-heading>
          <c4d-card-footer slot="footer">
          </c4d-card-footer>
        </c4d-card-group-item>
        <c4d-card-group-item cta-type="local" href="cloud/index.html">
          <c4d-card-heading>Cloud</c4d-card-heading>
          <c4d-card-footer slot="footer">
          </c4d-card-footer>
        </c4d-card-group-item>
      </c4d-card-group>
    </c4d-card-section-simple>
  </div>
{{/ base }}
