{{#> base }}

  <div class="page-container g100-page">
    <dds-leadspace size='' type="left" alt="Image text" default-src="../assets/images/dark-leadspace-img.jpg">
      <dds-leadspace-heading>Lead space left-aligned</dds-leadspace-heading>
      Lead space helps users understand where they landed, and what type of content they are going to find on the webpage. It will always be positioned at the top.

      <dds-button-group slot="action">
				<dds-button-group-item href="http://ibmdotcom-web-components-html-test.mybluemix.net/g100-theme-page/index.html">
					See alternate template
					<svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
						<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
					</svg>
				</dds-button-group-item>
				<dds-button-group-item href="#content">
					See components in action
					<svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
						<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
					</svg>
				</dds-button-group-item>        
			</dds-button-group>

      <dds-leadspace-image slot="image" class="bx--image" alt="Alt image text" default-src="../assets/images/dark-leadspace-img.jpg">
      </dds-leadspace-image>
    </dds-leadspace>

    <dds-scroll-animations id='content' keep-animation='true' animation='slide-up' 
      selector-targets='dds-content-block,
        dds-content-block-heading,
        dds-content-block-copy,
        dds-content-block-media,
        dds-callout-quote,
        dds-content-group-pictograms,
        dds-content-group-cards,
        dds-content-group-heading,
        dds-content-group-copy,
        dds-group-card,
        dds-group-card-item,
        dds-logo-grid,
        dds-logo-grid-item,
        dds-content-group-banner,
        dds-card-section-simple,
        dds-card-section-carousel,
        dds-card,
        dds-cta-section,
        dds-pictogram-item,
        dds-card-section-simple,
        dds-feature-card,
        dds-content-block-segmented,
        dds-content-block-horizontal,
        dds-tabs-extended-with-media,
        dds-tab,
        dds-card-in-card,
        dds-link-list-section,
        dds-link-list-card-cta,
        dds-cta-section,
        dds-cta-block,
        dds-cta-block-item'>

      <dds-table-of-contents toc-layout='horizontal' stickyOffset='48'>
        <a name="1" data-title="Card section images"></a>
        <dds-card-section-images>
          <dds-content-section-heading>Card section images</dds-content-section-heading>
          <dds-card-group>
            <dds-card-group-item href="https://www.ibm.com/standards/carbon/components/card-section-images">
              <dds-image slot="image" alt="Image alt text" default-src="../assets/images/card-section-img-1.png">
              </dds-image>
              <dds-card-eyebrow>Card section</dds-card-eyebrow>
              <dds-card-heading>A collection of card components with images</dds-card-heading>
              <dds-card-cta-footer slot="footer">
                <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-cta-footer>
            </dds-card-group-item>

            <dds-card-group-item href="https://www.ibm.com/standards/carbon/components/card-section-images">
              <dds-image slot="image" alt="Image alt text" default-src="../assets/images/card-section-img-2.png">
              </dds-image>
              <dds-card-eyebrow>Card section</dds-card-eyebrow>
              <dds-card-heading>The component occupies a full-width section with a header</dds-card-heading>
              <dds-card-cta-footer slot="footer">
                <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-cta-footer>
            </dds-card-group-item>

            <dds-card-group-item href="https://www.ibm.com/standards/carbon/components/card-section-images">
              <dds-image slot="image" alt="Image alt text" default-src="../assets/images/card-section-img-3.png">
              </dds-image>
              <dds-card-eyebrow>Underlying component</dds-card-eyebrow>
              <dds-card-heading>Note that this uses the component "Card group"</dds-card-heading>
              <dds-card-cta-footer slot="footer">
                <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-cta-footer>
            </dds-card-group-item>

            <dds-card-group-item href="https://www.ibm.com/standards/carbon/components/card-section-images">
              <dds-image slot="image" alt="Image alt text" default-src="../assets/images/card-section-img-4.jpg">
              </dds-image>
              <dds-card-eyebrow>Card</dds-card-eyebrow>
              <dds-card-heading>Each card has a headline, image, optional eyebrow, body copy, and CTA</dds-card-heading>
              <dds-card-cta-footer slot="footer">
                <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-cta-footer>
            </dds-card-group-item>

            <dds-card-group-item href="https://www.ibm.com/standards/carbon/components/card-section-images">
              <dds-image slot="image" alt="Image alt text" default-src="../assets/images/card-section-img-5.png">
              </dds-image>
              <dds-card-eyebrow>Usage</dds-card-eyebrow>
              <dds-card-heading>Use card section images to break up content with illustrative visuals or video</dds-card-heading>
              <dds-card-cta-footer slot="footer">
                <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-cta-footer>
            </dds-card-group-item>
          </dds-card-group>
        </dds-card-section-images>

        <div class="bx--col-sm-4 bx--col-lg-12 bx--offset-lg-4">
          <a name="2" data-title="Feature card - large"></a>
          <dds-feature-card size='large' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/feature-card-block">
            <dds-image slot="image" alt="Image alt text" default-src="../assets/images/feature-card-illustration.png">
            </dds-image>
            <dds-card-eyebrow>Feature card - large</dds-card-eyebrow>
            <dds-card-heading>This component helps highlight a key call-to-action that pairs with a visual to grab attention</dds-card-heading>
            <dds-card-copy
              >The component comes in two sizes - medium and large. It is made up of an eyebrow, headline, image, and link. Body copy is optional. 
              The entire card section, including the image, is clickable (or tappable on mobile).
            </dds-card-copy>
            <dds-feature-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-feature-card-footer>
          </dds-feature-card>

          <a name="3" data-title="Content block segmented"></a>
          <dds-content-block-segmented complementary-style-scheme='with-border'>
            <dds-content-block-heading
              >Content block segmented
            </dds-content-block-heading>
            <dds-content-block-copy
              >This component is a variation of content block simple, and works well as an introductory section to a page. 
              This variation adds subsections to further break up complex topics into easy-to-read chunks. 
              You can also optionally include a CTA, media (image or video), and quick links
            </dds-content-block-copy>

            <dds-content-block-segmented-item>
              <dds-video-player-container slot="media" video-id="0_uka1msg4"></dds-video-player-container>
            </dds-content-block-segmented-item>

            <dds-content-block-segmented-item>
              <dds-content-group-heading>Using the content block components</dds-content-group-heading>
              <dds-content-item-copy
                >The content block suite of components excels at presenting content on IBM.com. 
                Feel free to mix and match these sections based on what works best with the type of story you want to tell 
                and the types of content you want to showcase.
              </dds-content-item-copy>
            </dds-content-block-segmented-item>

            <dds-content-block-segmented-item>
              <dds-content-group-heading>About the 2x Grid</dds-content-group-heading>
              <dds-content-item-copy
                >It’s fundamental to everything we design. The 2x Grid is the geometric foundation of all the visual elements of IBM Design, 
                from typography to columns, boxes, icons, and illustrations. It provides structure and guidance for all creative decision-making. 
              </dds-content-item-copy>
              <dds-content-item-copy
                >The basic unit of 2x Grid geometry is the 8-pixel square mini unit. Multiples of mini units compose the dimensions of columns, 
                rows, boxes, along with their margins and padding. The mini unit adapts to your content while maintaining a consistent visual rhythm.
              </dds-content-item-copy>              
            </dds-content-block-segmented-item>

            <dds-card-link-cta slot="footer" cta-type="local" href="https://example.com">
              <dds-card-link-heading>Learn more about Content block segmented</dds-card-link-heading>
              <dds-card-cta-footer></dds-card-cta-footer>
            </dds-card-link-cta>

            <dds-content-block-complementary>
              <dds-link-list type="default">
                <dds-link-list-heading>Link list</dds-link-list-heading>
                <dds-link-list-item-card href="https://ibm.ent.box.com/folder/99730444060?s=pkascpokk7ae4t3ixis98hmw4e5y1v56" cta-type="local">
                  <p>CContent block segmented design specs</p>
                  <dds-card-cta-footer>
                    <svg
                      slot="icon"
                      focusable="false"
                      preserveAspectRatio="xMidYMid meet"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      aria-hidden="true"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                    >
                      <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                    </svg>
                  </dds-card-cta-footer>
                </dds-link-list-item-card>
                <dds-link-list-item-card href="https://ibm.ent.box.com/folder/99730444060?s=pkascpokk7ae4t3ixis98hmw4e5y1v56" cta-type="video">
                  <p>Content block segmented functional specs</p>
                  <dds-card-cta-footer>
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" class="bx--card__cta dds-ce--cta__icon">&lt;!&ndash;&ndash;&gt;<path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path><path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path></svg>
                  </dds-card-cta-footer>
                </dds-link-list-item-card>
              </dds-link-list>
            </dds-content-block-complementary>       
          </dds-content-block-segmented>

          <a name="4" data-title="Content block horizontal"></a>
          <dds-content-block-horizontal>
            <dds-content-block-heading>Content block horizontal</dds-content-block-heading>
            <dds-content-item-horizontal>
              <dds-content-item-horizontal-eyebrow>Component</dds-content-item-horizontal-eyebrow>
              <dds-content-item-heading>Content block horizontal</dds-content-item-heading>
              <dds-content-item-horizontal-copy>Content group horizontal is to present a group of relatively more important pieces of content such as products or solutions with more visual weight.</dds-content-item-horizontal-copy>
              <dds-link-list slot="footer" type="vertical">
                <dds-link-list-item-cta
                  icon-placement="right"
                  href="https://www.ibm.com/standards/carbon/components/content-group-horizontal"
                  cta-type="local"
                >
                  Learn more
                </dds-link-list-item-cta>
                <dds-link-list-item-cta
                  icon-placement="right"
                  href="https://ibm.box.com/s/rv5kmm0a4d9ded74v6yfk8ad5id5ghmx"
                  cta-type="external"
                >
                  See design specs
                </dds-link-list-item-cta>
              </dds-link-list>
            </dds-content-item-horizontal>

            <dds-content-item-horizontal>
              <dds-content-item-horizontal-eyebrow>Motion</dds-content-item-horizontal-eyebrow>
              <dds-content-item-heading>Scroll animations</dds-content-item-heading>
              <dds-content-item-horizontal-copy>This page uses the *Scroll up* scroll animation on every section of the page content. Thoughtful use of animations can highlight key content and draw the user’s attention.</dds-content-item-horizontal-copy>
              <dds-link-list slot="footer" type="vertical">
                <dds-link-list-item-cta
                  icon-placement="right"
                  href="https://www.ibm.com/standards/carbon/web-components/?path=/story/components-scroll-animations--fade-once"
                  cta-type="local"
                >
                  See Web Component Storybook
                </dds-link-list-item-cta>
                <dds-link-list-item-cta
                  icon-placement="right"
                  href="https://www.ibm.com/standards/carbon/react/?path=/story/components-scroll-animations--default"
                  cta-type="external"
                >
                  See React Storybook
                </dds-link-list-item-cta>
              </dds-link-list>
            </dds-content-item-horizontal>

            <dds-content-item-horizontal>
              <dds-content-item-horizontal-eyebrow>Layout</dds-content-item-horizontal-eyebrow>
              <dds-content-item-heading>Spacing</dds-content-item-heading>
              <dds-content-item-horizontal-copy>Carbon for IBM.com uses uniform components, elements, and spacing to encourage consistency when designing for IBM.com experiences. Spacing scale and type tokens are used to ensure the information is well organized with consistency.</dds-content-item-horizontal-copy>
              <dds-link-list slot="footer" type="vertical">
                <dds-link-list-item-cta
                  icon-placement="right"
                  href="https://www.ibm.com/standards/carbon/guidelines/spacing"
                  cta-type="local"
                >
                  Learn more
                </dds-link-list-item-cta>
              </dds-link-list>
            </dds-content-item-horizontal>                        
          </dds-content-block-horizontal>               
        </div>
        
        <a name="5" data-title="Tabs extended with media"></a>
        <dds-tabs-extended-media>
          <dds-content-section-heading>Tabs extended with media</dds-content-section-heading>
          <dds-tab label="Image tab">
            <dds-content-item-horizontal-media align="left">
              <dds-image
                slot="media"
                alt="Lorem ipsum"
                default-src="../assets/images/tabs-media-1.jpg"
              ></dds-image>
              <dds-content-item-heading>Image media</dds-content-item-heading>
              <dds-content-item-horizontal-copy
                >Use Tabs Extended media to display interactive, related content and even add links to detail pages.</dds-content-item-horizontal-copy
              >
              <dds-link-list slot="footer" type="vertical">
                <dds-link-list-item-cta icon-placement="right" href="https://www.ibm.com" cta-type="local">
                  Explore Tabs extended with media
                </dds-link-list-item-cta>
                <dds-link-list-item-cta icon-placement="right" href="https://www.ibm.com" cta-type="external">
                  Learn about images
                </dds-link-list-item-cta>
              </dds-link-list>
            </dds-content-item-horizontal-media>
          </dds-tab>

          <dds-tab label="Another image">
            <dds-content-item-horizontal-media align="left">
              <dds-image
                slot="media"
                alt="Lorem ipsum"
                default-src="../assets/images/tabs-media-2.png"
              ></dds-image>
              <dds-content-item-heading>Another image</dds-content-item-heading>
              <dds-content-item-horizontal-copy
                >This component excels at visual storytelling, while also giving the user full control to look through the tabs.
              </dds-content-item-horizontal-copy>
              <dds-link-list slot="footer" type="vertical">
                <dds-link-list-item-cta icon-placement="right" href="https://www.ibm.com/standards/carbon/components/tabs-extended-media" cta-type="local">
                  Explore Tabs extended with media
                </dds-link-list-item-cta>
                <dds-link-list-item-cta icon-placement="right" href="https://www.ibm.com/design/language/" cta-type="external">
                  Check out IBM Design language
                </dds-link-list-item-cta>
              </dds-link-list>
            </dds-content-item-horizontal-media>
          </dds-tab>

          <dds-tab label="Video tab">
            <dds-content-item-horizontal-media align="left">
              <dds-video-player-container slot="media" video-id="0_uka1msg4"></dds-video-player-container>
              <dds-content-item-heading>Learn about video</dds-content-item-heading>
              <dds-link-list slot="footer" type="vertical">
                <dds-link-list-item-cta icon-placement="right" href="https://www.ibm.com/standards/carbon/components/video" cta-type="local">
                  Learn about video
                </dds-link-list-item-cta>
              </dds-link-list>
            </dds-content-item-horizontal-media>
          </dds-tab>

          <dds-tab label="Tabs extended tab">
            <dds-content-item-horizontal-media align="left">
              <dds-image
                slot="media"
                alt="Lorem ipsum"
                default-src="../assets/images/tabs-media-4.png"
              ></dds-image>
              <dds-content-item-heading>Tabs extended</dds-content-item-heading>
              <dds-content-item-horizontal-copy
                >You can use the Tabs extended component to organize other kinds of editorial content into tabs on desktop and accordion on mobile.
              </dds-content-item-horizontal-copy>
              <dds-link-list slot="footer" type="vertical">
                <dds-link-list-item-cta icon-placement="right" href="https://www.ibm.com/standards/carbon/components/tabs-extended" cta-type="local">
                  Explore Tabs extended
                </dds-link-list-item-cta>
              </dds-link-list>
            </dds-content-item-horizontal-media>
          </dds-tab>                              
        </dds-tabs-extended-media>     
        
        <div class="bx--col-sm-4 bx--col-lg-12 bx--offset-lg-4">
          <a name="6" data-title="Card in card"></a>
          <dds-card-in-card href="https://example.com">
            <dds-card-in-card-image slot="image" alt="Image alt text" default-src="../assets/images/card-in-card.jpg">
            </dds-card-in-card-image>
            <dds-card-eyebrow>Label</dds-card-eyebrow>
            <dds-card-heading>Standard Bank Group prepares to embrace Africa’s AI opportunity</dds-card-heading>
            <dds-card-cta-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-in-card>     
        </div> 

        <a name="7" data-title="Link list section"></a>
        <dds-link-list-section>
          <dds-content-section-heading>Link list section can display links to other resourcesDesigningExpressive Theme</dds-content-section-heading>
          <dds-link-list>
            <dds-link-list-item href="https://www.ibm.com/standards/carbon/designing">
              Designing
              <svg
                slot="footer"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-list-item>
            <dds-link-list-item href="https://www.ibm.com/standards/carbon/developing">
              Developing
              <svg
                slot="footer"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-list-item>
            <dds-link-list-item href="https://www.ibm.com/standards/carbon/guidelines">
              Guidelines
              <svg
                slot="footer"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-list-item>
            <dds-link-list-item href="https://www.ibm.com/standards/carbon/guidelines/expressive-theme">
              Expressive Theme
              <svg
                slot="footer"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-list-item>
            <dds-link-list-item href="https://www.ibm.com/standards/carbon/react/?path=/story/overview-getting-started--page">
              React
              <svg
                slot="footer"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-list-item>
            <dds-link-list-item href="https://www.ibm.com/standards/carbon/web-components/?path=/story/overview-getting-started--page">
              Web Components
              <svg
                slot="footer"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-list-item>
          </dds-link-list>
        </dds-link-list-section>                

        <a name="8" data-title="Card section carousel"></a>
        <dds-card-section-carousel>
          <dds-content-section-heading>Card section carousel</dds-content-section-heading>
          <dds-content-section-copy>
            Allows users to explore multiple pieces of content within the same area.
          </dds-content-section-copy>
          <dds-link-with-icon href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/overview" slot="footer">
            See all components
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-link-with-icon>
          <dds-carousel>
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Card section carousel</dds-card-heading>
              On the left side, this component uses Headline copy, a Subheading, and an optional CTA text link.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Cards</dds-card-heading>
              The main content of the carousel lives on these cards. You can use any variation of the card component to populate the carousel.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Carousel controls</dds-card-heading>
              The Icon buttons and pagination to the bottom right provide navigational controls for browsing the carousel. They are required as part of this component.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Number of cards</dds-card-heading>
              The recommended amount of content is a minimum of 5 cards and maximum of 15 cards to avoid excessive clicking for the user.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Related content</dds-card-heading>
              Make sure content in the carousel is related.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>No essential content</dds-card-heading>
              Do not add essential content to a carousel. Essential content could include navigational or wayfinding content links.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Most important content</dds-card-heading>
              Prioritize the most important content at the beginning of the carousel.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>  
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Simple and concise</dds-card-heading>
              Carousel content should be simple and concise.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>        
            <dds-card href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
              <dds-card-heading>Use cases</dds-card-heading>
              Common content used in carousels includes use cases, news articles, client testimonials, and quotes.
              <dds-card-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </dds-card-footer>
            </dds-card>                              
          </dds-carousel>  
        </dds-card-section-carousel>   
      <div class='bx--offset-lg-4'>
        <a name="9" data-title="CTA Section"></a>
        <dds-cta-block>
          <dds-content-block-heading>CTA Section</dds-content-block-heading>
          <dds-content-block-copy>Used to communicate actions that users can take along with some information that is relevant to those actions.</dds-content-block-copy>

          <dds-button-group slot="action">
            <dds-button-group-item href="g100-theme-page/index.html">
              See alternate template
              <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-button-group-item>
            <dds-button-group-item href="https://www.ibm.com/standards/carbon/">
              Carbon for IBM.com
              <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-button-group-item>        
          </dds-button-group>

          <dds-cta-block-item-row no-border>
            <dds-cta-block-item>
              <dds-content-item-heading>Secondary subsection</dds-content-item-heading>
              <dds-content-item-copy
                >Consists of two paragraph lists and is used to provide information and links to additional destinations.</dds-content-item-copy
              >
              <dds-text-cta slot="footer" cta-type="local" icon-placement="right" href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/cta-section">Find a partner</dds-text-cta>
            </dds-cta-block-item>

            <dds-cta-block-item>
              <dds-content-item-heading>Usage</dds-content-item-heading>
              <dds-content-item-copy>Use th secondary area to connect users to additional destinations if more than the primary is needed.</dds-content-item-copy>
              <dds-text-cta slot="footer" cta-type="local" icon-placement="right" href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/cta">More on Call-to-action</dds-text-cta>
            </dds-cta-block-item>
          </dds-cta-block-item-row>
        </dds-cta-block>
      </div>           
    </dds-scroll-animations>
    <dds-back-to-top></dds-back-to-top>
  </div>

{{/ base }}
