{{#> base }}

  <div class="page-container">
    <c4d-leadspace size='' type="centered" alt="Image text" default-src="../assets/images/NextJS-white-leadspace.png">
      <c4d-leadspace-heading>Lead space centered</c4d-leadspace-heading>
      Lead space helps users understand where they landed, and what type of content they are going to find on the webpage. It will always be positioned at the top.

      <c4d-button-group slot="action">
				<c4d-button-group-item href="http://ibmdotcom-web-components-html-test.mybluemix.net/g100-theme-page/index.html">
					See alternate template
					<svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
						<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
					</svg>
				</c4d-button-group-item>
				<c4d-button-group-item href="#content">
					See components in action
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" slot="icon"><!----><path d="M24.59 16.59L17 24.17 17 4 15 4 15 24.17 7.41 16.59 6 18 16 28 26 18 24.59 16.59z"></path></svg>
				</c4d-button-group-item>
			</c4d-button-group>

      <c4d-leadspace-image slot="image" class="cds--image" alt="Alt image text" default-src="../assets/images/nextjs-white-leadspace.png">
      </c4d-leadspace-image>
    </c4d-leadspace>

    <c4d-scroll-animations id='content' keep-animation='true' animation='slide-up'
      selector-targets='c4d-content-block,
        c4d-content-block-heading,
        c4d-content-block-copy,
        c4d-content-block-media,
        c4d-content-item,
        c4d-callout-quote,
        c4d-content-group-pictograms,
        c4d-content-group-cards,
        c4d-content-group-cards-item,
        c4d-content-group-heading,
        c4d-content-group-copy,
        c4d-group-card,
        c4d-group-card-item,
        c4d-image,
        c4d-logo-grid,
        c4d-logo-grid-item,
        c4d-link-list>*,
        c4d-in-page-banner,
        c4d-card-section-simple,
        c4d-card-section-carousel,
        c4d-card-cta,
        c4d-card-link-cta,
        c4d-cta-section,
        c4d-button-group,
        c4d-cta-block-item,
        c4d-pictogram-item'>

      <c4d-table-of-contents stickyOffset='48'>
        <a name="1" data-title="Content block simple"></a>
        <c4d-content-block-simple complementary-style-scheme="with-border">
          <c4d-content-block-heading>Content Block - Simple</c4d-content-block-heading>
          <c4d-content-block-copy size='sm'
          >Content block simple works well as an introductory section on a page by providing a clear starting point for the user.
          By default, this component works the best as at the top of the page and includes a heading, introductory paragraph,
          optional media (image or video), optional CTA (call-to-action), and a horizontal rule at the bottom before the next component.
          </c4d-content-block-copy>

          <c4d-content-block-copy size='sm'>A variation of this component brings in aside elements and can introduce navigational quick links
          on the right side on desktop. You can see the aside element at work in the Content block media component directly
          below this one.</c4d-content-block-copy>

          <c4d-card-cta slot="footer" cta-type="local" href="https://example.com">
            Lorem ipsum dolor
            <c4d-card-cta-footer></c4d-card-cta-footer>
          </c4d-card-cta>
        </c4d-content-block-simple>

        <a name="2" data-title="Content block media"></a>
        <c4d-content-block-media>
          <c4d-content-block-heading>Content block media</c4d-content-block-heading>
          <c4d-content-block-copy
            >Content block media is used to spotlight an image or video in the content of the page.
            It starts with a brief overview (this text) before presenting an image or video, and any details you want to pull out below that.
            Optionally, combine with a link or card element.
          </c4d-content-block-copy>

          <c4d-content-block-media-content>
            <c4d-content-group-heading>Introduction to the media</c4d-content-group-heading>
            <c4d-image slot="media" alt="Image alt text" default-src="../assets/images/content-block-illustration.png" heading="Lorem ipsum dolor sit amet.">
              <c4d-image-item media="(min-width: 672px)" srcset="../assets/images/content-block-illustration.png"> </c4d-image-item>
            </c4d-image>

            <c4d-content-item>
              <c4d-content-item-heading>Aside elements</c4d-content-item-heading>
              <c4d-content-item-copy>You can check the [design specs](https://ibm.ent.box.com/folder/94760926421?s=9cu22l7vs1dpjy8g8yi3mtoswazqgq2r) to get a sense of how to combine these content block components to create a cohesive story. Pair Content block media content together to break up content or segue into another component for impact.</c4d-content-item-copy>
            </c4d-content-item>
            <c4d-content-item>
              <c4d-content-item-heading>Combining Content block elements</c4d-content-item-heading>
              <c4d-content-item-copy>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed interdum tortor. Sed id pellentesque diam. In ut quam id mauris finibus efficitur quis ut arcu. Praesent purus turpis, venenatis eget odio et, tincidunt bibendum sem. Curabitur pretium elit non blandit lobortis. Donec quis pretium odio, in dignissim sapien.</c4d-content-item-copy>
            </c4d-content-item>
            <c4d-content-item>
              <c4d-content-item-heading>Scroll animations</c4d-content-item-heading>
              <c4d-content-item-copy>This page uses the *Scroll up* scroll animation on every section of the page content. Thoughtful use of animations can highlight key content and draw the user’s attention. You can find more examples of scroll animations in our [Storybook](https://www.ibm.com/standards/carbon/components/content-block-media).</c4d-content-item-copy>
            </c4d-content-item>

            <c4d-card-cta slot="footer" cta-type="local" href="https://example.com">
              Lorem ipsum dolor
              <c4d-card-cta-footer></c4d-card-cta-footer>
            </c4d-card-cta>
          </c4d-content-block-media-content>
          <c4d-link-list type="default" slot='complementary'>
            <c4d-link-list-heading>Aside element</c4d-link-list-heading>
            <c4d-link-list-item-cta href="https://example.com" cta-type="external" type="default">
              <p>Content block media</p>
              <c4d-card-cta-footer>
                <svg
                  slot="icon"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  aria-hidden="true"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
                </svg>
              </c4d-card-cta-footer>
            </c4d-link-list-item-cta>
            <c4d-link-list-item-cta href="https://example.com" cta-type="external" type="default">
              <p>Link to a video</p>
              <c4d-card-cta-footer>
              </c4d-card-cta-footer>
            </c4d-link-list-item-cta>
            <c4d-link-list-item-cta href="https://example.com" cta-type="external" type="default">
              <p>Link to another video</p>
              <c4d-card-cta-footer>
              </c4d-card-cta-footer>
            </c4d-link-list-item-cta>
          </c4d-link-list>
        </c4d-content-block-media>

        <a name="3" data-title="Callout quote"></a>
        <c4d-callout-quote mark-type="double-curved">
          The Callout quote is a typographic layout that is used to highlight an impactful client statement or user testimonial
          <c4d-quote-source-heading>
            Speaker’s name
          </c4d-quote-source-heading>
          <c4d-quote-source-copy>
            Additional info such as title
          </c4d-quote-source-copy>
          <c4d-quote-source-bottom-copy>
            or company
          </c4d-quote-source-bottom-copy>
            <c4d-callout-link-with-icon target="_external" slot='footer' href='https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/callout-quote'>
            See more about the Callout quote
            <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
              <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
            </svg>
          </c4d-callout-link-with-icon>
        </c4d-callout-quote>

        <a name="4" data-title="Content group pictograms"></a>

        <c4d-content-group-pictograms>
          <c4d-content-group-heading>Content group pictograms</c4d-content-group-heading>
          <c4d-content-group-copy>This component is used to present a group of information, each with a supporting pictogram.
            Use this to break up otherwise dense content with images for a better and more scannable reading experience.</c4d-content-group-copy>
            <div class="cds--grid cds--row">
            <c4d-pictogram-item>
              <svg
                slot="pictogram"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px"
                viewBox="0 0 32 32"
                style="enable-background:new 0 0 32 32;"
                xml:space="preserve">
                  <path id="desktop_1_" d="M23,29.36H9v-0.72h6.64v-4.28H3c-1.301,0-2.36-1.059-2.36-2.36V5c0-1.301,1.059-2.36,2.36-2.36h26
                    c1.302,0,2.36,1.059,2.36,2.36v17c0,1.302-1.059,2.36-2.36,2.36H16.36v4.279H23V29.36z M1.36,19.36V22c0,0.904,0.736,1.64,1.64,1.64
                    h26c0.904,0,1.64-0.735,1.64-1.64v-2.64H1.36z M1.36,18.64h29.28V5c0-0.904-0.735-1.64-1.64-1.64H3C2.096,3.36,1.36,4.096,1.36,5
                    V18.64z"/>
                  <rect id="_Transparent_Rectangle" style="fill:none;" width="32" height="32"/>
              </svg>
              <c4d-content-item-heading>Pictograms in action</c4d-content-item-heading>
              <c4d-content-item-copy>IBM’s pictograms are visual symbols used to represent ideas, objects or narratives. They can communicate messages at a glance, afford interactivity, and simplify complex ideas. They work well with presentations and marketing communications.</c4d-content-item-copy>
              <c4d-link-with-icon href="https://www.ibm.com/standards/carbon/components/content-group-pictograms" slot="footer" target='_external'>
                Content group pictograms
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
              </c4d-link-with-icon>
            </c4d-pictogram-item>

            <c4d-pictogram-item>
              <svg
                slot="pictogram"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px"
                viewBox="0 0 32 32"
                style="enable-background:new 0 0 32 32;"
                xml:space="preserve">
                  <path id="secure--search_1_" d="M11,21.509l-4.254-4.254l0.509-0.509L11,20.491l7.745-7.746l0.51,0.509L11,21.509z M23.623,22.313
                    l7.202,4.001l0.35-0.629l-7.201-4.001c0.886-1.702,1.387-3.637,1.387-5.685c0-6.815-5.545-12.36-12.36-12.36S0.64,9.185,0.64,16
                    S6.185,28.36,13,28.36C17.511,28.36,21.464,25.932,23.623,22.313z M24.64,16c0,6.418-5.222,11.64-11.64,11.64S1.36,22.418,1.36,16
                    S6.582,4.36,13,4.36S24.64,9.582,24.64,16z"/>
                  <rect id="_Transparent_Rectangle" style="fill:none;" width="32" height="32"/>
              </svg>
              <c4d-content-item-heading>Finding pictograms for your page</c4d-content-item-heading>
              <c4d-content-item-copy>The IBM Design Language site houses many pictograms you can use for your project, and includes instructions on creating a custom pictogram. Only the productive pictogram set are used in these sections.</c4d-content-item-copy>
              <c4d-link-with-icon href="https://www.ibm.com/design/language/iconography/pictograms/library" slot="footer" target='_external'>
                IBM Design Language pictogram library
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
              </c4d-link-with-icon>
            </c4d-pictogram-item>

            <c4d-pictogram-item>
              <svg
                slot="pictogram"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px"
                viewBox="0 0 32 32"
                style="enable-background:new 0 0 32 32;"
                xml:space="preserve">
                  <path id="hybrid--cloud--02_1_" d="M31,24.36H16c-0.199,0-0.36-0.161-0.36-0.36V12c0-0.199,0.161-0.36,0.36-0.36h15
                    c0.199,0,0.36,0.161,0.36,0.36v12C31.36,24.199,31.199,24.36,31,24.36z M16.36,23.64h14.28v-3.28H16.36V23.64z M16.36,19.64h14.28
                    v-3.28H16.36V19.64z M16.36,15.64h14.28v-3.28H16.36V15.64z M14,24.36H8c-3.99,0-7.36-3.371-7.36-7.36c0-3.99,3.37-7.36,7.36-7.36
                    c0.336,0,0.553,0.024,0.812,0.065C10.107,7.466,12.363,4.64,17,4.64c3.396,0,6.583,1.988,8.316,5.188l-0.633,0.343
                    C23.076,7.204,20.132,5.36,17,5.36c-3.405,0-5.775,1.517-7.686,4.918c-0.075,0.132-0.227,0.203-0.375,0.179
                    C8.576,10.395,8.376,10.36,8,10.36c-3.599,0-6.64,3.041-6.64,6.64c0,3.6,3.041,6.64,6.64,6.64h6V24.36z M20,22.36h-2v-0.72h2V22.36z
                    M20,18.36h-2v-0.72h2V18.36z M20,14.36h-2v-0.72h2V14.36z"/>
                  <rect id="_Transparent_Rectangle" style="fill:none;" width="32" height="32"/>
              </svg>
              <c4d-content-item-heading>At least three pictogram sections</c4d-content-item-heading>
              <c4d-content-item-copy>The Content group pictogram component should always include at least three pictogram sections. If you have less than two sections worth of content, consider another component.</c4d-content-item-copy>
            </c4d-pictogram-item>
          </div>
        </c4d-content-group-pictograms>


        <div class='cds--col-lg-12'>
          <a name="5" data-title="Content group cards"></a>
          <c4d-content-group-cards>
            <c4d-content-group-heading>Content group cards</c4d-content-group-heading>
            <c4d-content-group-copy>Content group cards is used to present information through a group of cards with each acting as a call to action
              that drives to additional or supporting destinations. It is suitable for adding concise buckets of content and links to a long-form reading.</c4d-content-group-copy>

            <c4d-content-group-cards-item href="https://www.ibm.com/standards/carbon/components/content-group-cards">
              <c4d-card-heading>
                Default
              </c4d-card-heading>
              <p>
                Content group cards includes a section heading, body copy, and any number of card components listed below.
              </p>
              <c4d-card-footer icon-placement="left">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
              </c4d-card-footer>
            </c4d-content-group-cards-item>

            <c4d-content-group-cards-item href="https://www.ibm.com/standards/carbon/components/content-group-cards">
              <c4d-card-heading>
                Usage in a content block
              </c4d-card-heading>
              <p>
                This pattern can be used multiple times within a content block
              </p>
              <c4d-card-footer icon-placement="left">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
              </c4d-card-footer>
            </c4d-content-group-cards-item>

            <c4d-content-group-cards-item href="https://www.ibm.com/standards/carbon/components/content-group-cards">
              <c4d-card-heading>
                Card component
              </c4d-card-heading>
              <p>
                The Card component used here contains a title, body copy, and a CTA icon to communicate interactivity.
              </p>
              <c4d-card-footer icon-placement="left">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
              </c4d-card-footer>
            </c4d-content-group-cards-item>

            <c4d-content-group-cards-item href="https://www.ibm.com/standards/carbon/components/content-group-cards">
              <c4d-card-heading>
                Avoid solo cards
              </c4d-card-heading>
              <p>
                Try to avoid having orphan or single hanging cards in a row by itself.
              </p>
              <c4d-card-footer icon-placement="left">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
              </c4d-card-footer>
            </c4d-content-group-cards-item>
          </c4d-content-group-cards>
        </div>


        <a name="6" data-title="Logo grid"></a>
        <c4d-logo-grid>
          <c4d-content-block-heading>Logo Grid</c4d-content-block-heading>
          <c4d-logo-grid-item default-src='../assets/images/logo-microsoft.png' alt='Microsoft'></c4d-logo-grid-item>
          <c4d-logo-grid-item default-src='../assets/images/logo-dell.png' alt='Dell'></c4d-logo-grid-item>
          <c4d-logo-grid-item default-src='../assets/images/logo-rabobank.png' alt='Rabobank'></c4d-logo-grid-item>
          <c4d-logo-grid-item default-src='../assets/images/logo-bendigo.png' alt='Bendigo'></c4d-logo-grid-item>
          <c4d-logo-grid-item default-src='../assets/images/logo-nbcuniversal.png' alt='NBC Universal'></c4d-logo-grid-item>
          <c4d-logo-grid-item default-src='../assets/images/logo-cisco.png' alt='Cisco'></c4d-logo-grid-item>
        </c4d-logo-grid>

        <a name="7" data-title="Content group banner"></a>
        <c4d-in-page-banner>
          <c4d-content-group-heading>Content group banner: a subtle callout for tangential information or announcements</c4d-content-group-heading>
          <c4d-link-list type="vertical" slot="complementary">
            <c4d-link-list-item-cta
              icon-placement="right"
              href="https://www.ibm.com/standards/carbon/components/in-page-banner"
              cta-type="external"
              target='_external'
            >
              Content group banner
            </c4d-link-list-item-cta>
            <c4d-link-list-item-cta
              icon-placement="right"
              href="1_9h94wo6b"
              cta-type="video"
            >
              Resource video
            </c4d-link-list-item-cta>
          </c4d-link-list>
        </c4d-in-page-banner>
      </c4d-table-of-contents>

      <c4d-card-section-simple>
        <c4d-content-section-heading>Card section</c4d-content-section-heading>
        <c4d-card-group>
          <c4d-card-group-item cta-type="external" href="https://www.ibm.com/standards/carbon/components/card-section">
            <c4d-card-heading>Card section</c4d-card-heading>
            <p>
              The card section is a collection of cards presented in a full-width section with a left-column header that responds to the grid.
            </p>
            <c4d-card-cta-footer slot="footer">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
            </c4d-card-cta-footer>
          </c4d-card-group-item>

          <c4d-card-group-item cta-type="external" href="https://www.ibm.com/standards/carbon/components/card-section">
            <c4d-card-heading>Cards</c4d-card-heading>
            <p>
              The main content of the carousel lives on these cards.
            </p>
            <c4d-card-cta-footer slot="footer">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
            </c4d-card-cta-footer>
          </c4d-card-group-item>

          <c4d-card-group-item cta-type="external" href="https://www.ibm.com/standards/carbon/components/card-section">
            <c4d-card-heading>Variation</c4d-card-heading>
            <p>
              Previewed here is a variation of Card section that includes the high contrast card at the end of the card colection.
            </p>
            <c4d-card-cta-footer slot="footer">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
            </c4d-card-cta-footer>
          </c4d-card-group-item>

          <c4d-card-group-item cta-type="external" href="https://www.ibm.com/standards/carbon/components/card-section">
            <c4d-card-heading>Avoid orphan cards</c4d-card-heading>
            <p>
              Try to avoid having orphan or single hanging cards in a row by itself.
            </p>
            <c4d-card-cta-footer slot="footer">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
            </c4d-card-cta-footer>
          </c4d-card-group-item>
          <c4d-card-group-item cta-type="external" href="https://www.ibm.com/standards/carbon/components/card-section" color-scheme='inverse'>
            <c4d-card-heading>A variation inludes a high contrast Call-to-action</c4d-card-heading>
            <c4d-card-cta-footer slot="footer">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
            </c4d-card-cta-footer>
          </c4d-card-group-item>
        </c4d-card-group>
      </c4d-card-section-simple>

      <c4d-card-section-carousel>
        <c4d-content-section-heading>Card section carousel</c4d-content-section-heading>
        <c4d-content-section-copy>
          Allows users to explore multiple pieces of content within the same area.
        </c4d-content-section-copy>
        <c4d-link-with-icon target="_external" href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/overview" slot="footer">
          See all components
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
        </c4d-link-with-icon>
        <c4d-carousel>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Card section carousel</c4d-card-heading>
            On the left side, this component uses Headline copy, a Subheading, and an optional CTA text link.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Cards</c4d-card-heading>
            The main content of the carousel lives on these cards. You can use any variation of the card component to populate the carousel.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Carousel controls</c4d-card-heading>
            The Icon buttons and pagination to the bottom right provide navigational controls for browsing the carousel. They are required as part of this component.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Number of cards</c4d-card-heading>
            The recommended amount of content is a minimum of 5 cards and maximum of 15 cards to avoid excessive clicking for the user.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Related content</c4d-card-heading>
            Make sure content in the carousel is related.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>No essential content</c4d-card-heading>
            Do not add essential content to a carousel. Essential content could include navigational or wayfinding content links.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Most important content</c4d-card-heading>
            Prioritize the most important content at the beginning of the carousel.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Simple and concise</c4d-card-heading>
            Carousel content should be simple and concise.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
          <c4d-card cta-type='external' href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/card-section-carousel">
            <c4d-card-heading>Use cases</c4d-card-heading>
            Common content used in carousels includes use cases, news articles, client testimonials, and quotes.
            <c4d-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-card-footer>
          </c4d-card>
        </c4d-carousel>
      </c4d-card-section-carousel>

      <div class='cds--offset-lg-4'>
        <c4d-cta-block no-border>
          <c4d-content-block-heading>CTA Section</c4d-content-block-heading>
          <c4d-content-block-copy>Used to communicate actions that users can take along with some information that is relevant to those actions.</c4d-content-block-copy>

          <c4d-button-group slot="action">
            <c4d-button-group-item href="http://ibmdotcom-web-components-html-test.mybluemix.net/g100-theme-page/index.html">
              See alternate template
              <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-button-group-item>
            <c4d-button-group-item target="_external" href="https://www.ibm.com/standards/carbon/">
              Carbon for IBM.com
              <svg slot="icon" focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </c4d-button-group-item>
          </c4d-button-group>

          <c4d-cta-block-item-row no-border>
            <c4d-cta-block-item>
              <c4d-content-item-heading>Secondary subsection</c4d-content-item-heading>
              <c4d-content-item-copy
                >Consists of two paragraph lists and is used to provide information and links to additional destinations.</c4d-content-item-copy
              >
              <c4d-text-cta slot="footer" cta-type="external" icon-placement="right" href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/cta-section">More on CTA section</c4d-text-cta>
            </c4d-cta-block-item>

            <c4d-cta-block-item>
              <c4d-content-item-heading>Usage</c4d-content-item-heading>
              <c4d-content-item-copy>Use the secondary area to connect users to additional destinations if more than the primary is needed.</c4d-content-item-copy>
              <c4d-text-cta slot="footer" cta-type="external" icon-placement="right" href="https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/cta">More on Call-to-action</c4d-text-cta>
            </c4d-cta-block-item>
          </c4d-cta-block-item-row>
        </c4d-cta-block>
      </div>
    </c4d-scroll-animations>
    <c4d-back-to-top></c4d-back-to-top>
  </div>

{{/ base }}
