<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"
  />
  <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
  <link rel="icon" href="//www.ibm.com/favicon.ico" />
  <meta name="dcterms.date" content="1955-11-05" />
  <meta name="dcterms.rights" content="© Copyright IBM Corp. 2020" />
  <meta name="geo.country" content="US" />
  <meta name="robots" content="index,follow" />

  <link rel="alternate" hrefLang="en-us" href="/?cc=us&lc=en"/>
  <link rel="alternate" hrefLang="x-default" href="/"/>
  <link rel="alternate" hrefLang="en-af" href="/?cc=af&lc=en"/>
  <link rel="alternate" hrefLang="fr-dz" href="/?cc=dz&lc=fr"/>
  <link rel="alternate" hrefLang="pt-ao" href="/?cc=ao&lc=pt"/>
  <link rel="alternate" hrefLang="en-ai" href="/?cc=ai&lc=en"/>
  <link rel="alternate" hrefLang="en-ag" href="/?cc=ag&lc=en"/>
  <link rel="alternate" hrefLang="es-ar" href="/?cc=ar&lc=es"/>
  <link rel="alternate" hrefLang="en-aw" href="/?cc=aw&lc=en"/>
  <link rel="alternate" hrefLang="en-au" href="/?cc=au&lc=en"/>
  <link rel="alternate" hrefLang="de-at" href="/?cc=at&lc=de"/>
  <link rel="alternate" hrefLang="en-bs" href="/?cc=bs&lc=en"/>
  <link rel="alternate" hrefLang="en-bh" href="/?cc=bh&lc=en"/>
  <link rel="alternate" hrefLang="en-bd" href="/?cc=bd&lc=en"/>
  <link rel="alternate" hrefLang="en-bb" href="/?cc=bb&lc=en"/>
  <link rel="alternate" hrefLang="en-be" href="/?cc=be&lc=en"/>
  <link rel="alternate" hrefLang="en-bm" href="/?cc=bm&lc=en"/>
  <link rel="alternate" hrefLang="es-bo" href="/?cc=bo&lc=es"/>
  <link rel="alternate" hrefLang="en-bw" href="/?cc=bw&lc=en"/>
  <link rel="alternate" hrefLang="pt-br" href="/?cc=br&lc=pt"/>
  <link rel="alternate" hrefLang="en-vg" href="/?cc=vg&lc=en"/>
  <link rel="alternate" hrefLang="en-bn" href="/?cc=bn&lc=en"/>
  <link rel="alternate" hrefLang="en-bg" href="/?cc=bg&lc=en"/>
  <link rel="alternate" hrefLang="fr-bf" href="/?cc=bf&lc=fr"/>
  <link rel="alternate" hrefLang="en-kh" href="/?cc=kh&lc=en"/>
  <link rel="alternate" hrefLang="fr-cm" href="/?cc=cm&lc=fr"/>
  <link rel="alternate" hrefLang="en-ca" href="/?cc=ca&lc=en"/>
  <link rel="alternate" hrefLang="fr-ca" href="/?cc=ca&lc=fr"/>
  <link rel="alternate" hrefLang="en-ky" href="/?cc=ky&lc=en"/>
  <link rel="alternate" hrefLang="fr-td" href="/?cc=td&lc=fr"/>
  <link rel="alternate" hrefLang="es-cl" href="/?cc=cl&lc=es"/>
  <link rel="alternate" hrefLang="zh-cn" href="/?cc=cn&lc=zh"/>
  <link rel="alternate" hrefLang="es-co" href="/?cc=co&lc=es"/>
  <link rel="alternate" hrefLang="fr-cd" href="/?cc=cd&lc=fr"/>
  <link rel="alternate" hrefLang="fr-cg" href="/?cc=cg&lc=fr"/>
  <link rel="alternate" hrefLang="es-cr" href="/?cc=cr&lc=es"/>
  <link rel="alternate" hrefLang="en-hr" href="/?cc=hr&lc=en"/>
  <link rel="alternate" hrefLang="en-cw" href="/?cc=cw&lc=en"/>
  <link rel="alternate" hrefLang="en-cy" href="/?cc=cy&lc=en"/>
  <link rel="alternate" hrefLang="en-cz" href="/?cc=cz&lc=en"/>
  <link rel="alternate" hrefLang="en-dm" href="/?cc=dm&lc=en"/>
  <link rel="alternate" hrefLang="en-dk" href="/?cc=dk&lc=en"/>
  <link rel="alternate" hrefLang="es-ec" href="/?cc=ec&lc=es"/>
  <link rel="alternate" hrefLang="en-eg" href="/?cc=eg&lc=en"/>
  <link rel="alternate" hrefLang="en-ee" href="/?cc=ee&lc=en"/>
  <link rel="alternate" hrefLang="en-et" href="/?cc=et&lc=en"/>
  <link rel="alternate" hrefLang="en-fi" href="/?cc=fi&lc=en"/>
  <link rel="alternate" hrefLang="fr-fr" href="/?cc=fr&lc=fr"/>
  <link rel="alternate" hrefLang="fr-ga" href="/?cc=ga&lc=fr"/>
  <link rel="alternate" hrefLang="de-de" href="/?cc=de&lc=de"/>
  <link rel="alternate" hrefLang="en-gh" href="/?cc=gh&lc=en"/>
  <link rel="alternate" hrefLang="en-gr" href="/?cc=gr&lc=en"/>
  <link rel="alternate" hrefLang="en-gd" href="/?cc=gd&lc=en"/>
  <link rel="alternate" hrefLang="en-gy" href="/?cc=gy&lc=en"/>
  <link rel="alternate" hrefLang="en-hk" href="/?cc=hk&lc=en"/>
  <link rel="alternate" hrefLang="en-hu" href="/?cc=hu&lc=en"/>
  <link rel="alternate" hrefLang="en-in" href="/?cc=in&lc=en"/>
  <link rel="alternate" hrefLang="en-id" href="/?cc=id&lc=en"/>
  <link rel="alternate" hrefLang="en-iq" href="/?cc=iq&lc=en"/>
  <link rel="alternate" hrefLang="en-ie" href="/?cc=ie&lc=en"/>
  <link rel="alternate" hrefLang="en-il" href="/?cc=il&lc=en"/>
  <link rel="alternate" hrefLang="it-it" href="/?cc=it&lc=it"/>
  <link rel="alternate" hrefLang="fr-ci" href="/?cc=ci&lc=fr"/>
  <link rel="alternate" hrefLang="en-jm" href="/?cc=jm&lc=en"/>
  <link rel="alternate" hrefLang="ja-jp" href="/?cc=jp&lc=ja"/>
  <link rel="alternate" hrefLang="en-jo" href="/?cc=jo&lc=en"/>
  <link rel="alternate" hrefLang="en-kz" href="/?cc=kz&lc=en"/>
  <link rel="alternate" hrefLang="en-ke" href="/?cc=ke&lc=en"/>
  <link rel="alternate" hrefLang="ko-kr" href="/?cc=kr&lc=ko"/>
  <link rel="alternate" hrefLang="en-kw" href="/?cc=kw&lc=en"/>
  <link rel="alternate" hrefLang="en-lv" href="/?cc=lv&lc=en"/>
  <link rel="alternate" hrefLang="en-lb" href="/?cc=lb&lc=en"/>
  <link rel="alternate" hrefLang="en-ly" href="/?cc=ly&lc=en"/>
  <link rel="alternate" hrefLang="en-lt" href="/?cc=lt&lc=en"/>
  <link rel="alternate" hrefLang="en-mw" href="/?cc=mw&lc=en"/>
  <link rel="alternate" hrefLang="en-my" href="/?cc=my&lc=en"/>
  <link rel="alternate" hrefLang="fr-mu" href="/?cc=mu&lc=fr"/>
  <link rel="alternate" hrefLang="es-mx" href="/?cc=mx&lc=es"/>
  <link rel="alternate" hrefLang="en-ms" href="/?cc=ms&lc=en"/>
  <link rel="alternate" hrefLang="fr-ma" href="/?cc=ma&lc=fr"/>
  <link rel="alternate" hrefLang="pt-mz" href="/?cc=mz&lc=pt"/>
  <link rel="alternate" hrefLang="en-na" href="/?cc=na&lc=en"/>
  <link rel="alternate" hrefLang="en-np" href="/?cc=np&lc=en"/>
  <link rel="alternate" hrefLang="en-nl" href="/?cc=nl&lc=en"/>
  <link rel="alternate" hrefLang="en-nz" href="/?cc=nz&lc=en"/>
  <link rel="alternate" hrefLang="fr-ne" href="/?cc=ne&lc=fr"/>
  <link rel="alternate" hrefLang="en-ng" href="/?cc=ng&lc=en"/>
  <link rel="alternate" hrefLang="en-no" href="/?cc=no&lc=en"/>
  <link rel="alternate" hrefLang="en-om" href="/?cc=om&lc=en"/>
  <link rel="alternate" hrefLang="en-pk" href="/?cc=pk&lc=en"/>
  <link rel="alternate" hrefLang="es-py" href="/?cc=py&lc=es"/>
  <link rel="alternate" hrefLang="es-pe" href="/?cc=pe&lc=es"/>
  <link rel="alternate" hrefLang="en-ph" href="/?cc=ph&lc=en"/>
  <link rel="alternate" hrefLang="pl-pl" href="/?cc=pl&lc=pl"/>
  <link rel="alternate" hrefLang="en-pt" href="/?cc=pt&lc=en"/>
  <link rel="alternate" hrefLang="en-qa" href="/?cc=qa&lc=en"/>
  <link rel="alternate" hrefLang="en-ro" href="/?cc=ro&lc=en"/>
  <link rel="alternate" hrefLang="ru-ru" href="/?cc=ru&lc=ru"/>
  <link rel="alternate" hrefLang="en-kn" href="/?cc=kn&lc=en"/>
  <link rel="alternate" hrefLang="en-lc" href="/?cc=lc&lc=en"/>
  <link rel="alternate" hrefLang="en-vc" href="/?cc=vc&lc=en"/>
  <link rel="alternate" hrefLang="en-sa" href="/?cc=sa&lc=en"/>
  <link rel="alternate" hrefLang="fr-sn" href="/?cc=sn&lc=fr"/>
  <link rel="alternate" hrefLang="en-rs" href="/?cc=rs&lc=en"/>
  <link rel="alternate" hrefLang="fr-sc" href="/?cc=sc&lc=fr"/>
  <link rel="alternate" hrefLang="en-sl" href="/?cc=sl&lc=en"/>
  <link rel="alternate" hrefLang="en-sg" href="/?cc=sg&lc=en"/>
  <link rel="alternate" hrefLang="en-sk" href="/?cc=sk&lc=en"/>
  <link rel="alternate" hrefLang="en-si" href="/?cc=si&lc=en"/>
  <link rel="alternate" hrefLang="en-za" href="/?cc=za&lc=en"/>
  <link rel="alternate" hrefLang="es-es" href="/?cc=es&lc=es"/>
  <link rel="alternate" hrefLang="en-lk" href="/?cc=lk&lc=en"/>
  <link rel="alternate" hrefLang="en-sr" href="/?cc=sr&lc=en"/>
  <link rel="alternate" hrefLang="en-se" href="/?cc=se&lc=en"/>
  <link rel="alternate" hrefLang="fr-ch" href="/?cc=ch&lc=fr"/>
  <link rel="alternate" hrefLang="de-ch" href="/?cc=ch&lc=de"/>
  <link rel="alternate" hrefLang="zh-tw" href="/?cc=tw&lc=zh"/>
  <link rel="alternate" hrefLang="en-tz" href="/?cc=tz&lc=en"/>
  <link rel="alternate" hrefLang="en-th" href="/?cc=th&lc=en"/>
  <link rel="alternate" hrefLang="en-tt" href="/?cc=tt&lc=en"/>
  <link rel="alternate" hrefLang="fr-tn" href="/?cc=tn&lc=fr"/>
  <link rel="alternate" hrefLang="tr-tr" href="/?cc=tr&lc=tr"/>
  <link rel="alternate" hrefLang="en-ye" href="/?cc=ye&lc=en"/>
  <link rel="alternate" hrefLang="en-tc" href="/?cc=tc&lc=en"/>
  <link rel="alternate" hrefLang="en-ua" href="/?cc=ua&lc=en"/>
  <link rel="alternate" hrefLang="en-ug" href="/?cc=ug&lc=en"/>
  <link rel="alternate" hrefLang="en-ae" href="/?cc=ae&lc=en"/>
  <link rel="alternate" hrefLang="en-gb" href="/?cc=uk&lc=en"/>
  <link rel="alternate" hrefLang="es-uy" href="/?cc=uy&lc=es"/>
  <link rel="alternate" hrefLang="en-uz" href="/?cc=uz&lc=en"/>
  <link rel="alternate" hrefLang="es-ve" href="/?cc=ve&lc=es"/>
  <link rel="alternate" hrefLang="en-vn" href="/?cc=vn&lc=en"/>
  <link rel="alternate" hrefLang="en-zm" href="/?cc=zm&lc=en"/>
  <link rel="alternate" hrefLang="en-zw" href="/?cc=zw&lc=en"/>

  <script>
    digitalData = {
      page: {
        category: {
          primaryCategory: '' // e.g. SB03
        },
        pageInfo: {
          effectiveDate: '', // e.g. 2014-11-19
          expiryDate: '', // e.g. 2017-11-19
          language: 'en-US', // e.g. en-US
          publishDate: '', // e.g. 2014-11-19
          publisher: '', // e.g. IBM Corporation
          version: 'Carbon:IBM.com Library',
          ibm: {
            contentDelivery: '', // e.g. ECM/Filegen
            contentProducer: '', // e.g. ECM/IConS Adopter 34 - GS83J2343G3H3ERG - 11/19/2014 05:14:02 PM
            country: 'US', // e.g. US
            industry: '', // e.g. B,U
            owner: '', // e.g. Some Person/City/IBM
            siteID: '', // e.g. MySiteID
            subject: '', // e.g. SW492
            type: '' // e.g CT305
          }
        }
      }
    };

    var params = new URLSearchParams(window.location.search);

    if(params.has('lc') && params.has('cc')) {
      var lang = params.get('lc') + '-' + params.get('cc').toUpperCase();
      document.getElementsByTagName("html")[0].setAttribute("lang", lang);
      digitalData.page.pageInfo.language = lang;
      digitalData.page.pageInfo.ibm.country = params.get('cc').toUpperCase();
    }
  </script>

  <!-- IBM Tag Management and Site Analytics -->
  <script src="//1.www.s81c.com/common/stats/ibm-common.js" defer></script>
</head>

<body>
<dds-dotcom-shell-container>
  {{> @partial-block }}
</dds-dotcom-shell-container>
</body>

</html>
